/mvnw text eol=lf
*.cmd text eol=crlf
# Ignora arquivos de front-end de terceiros nas estatísticas
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
src/main/resources/static/** linguist-vendored
src/main/resources/templates/** linguist-vendored